/* ///////////////////////////////
///////////// HEADER ///////////// 
/////////////////////////////////*/
 
body, html {
     /* background-color: #93ec40; */
     min-width: 100%;
 }
 a {
     text-decoration: none;
 }
#header, .header-container {
     background-color: #93ec40;
     max-width: 100%;
     height: 100vh;
  }
 .title {
    margin-right: 1rem;
}

.dots {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
}
.dot {
    width: 0.1rem;
    height: 0.1rem;
    background-color: #f86906;
    padding: 1rem;
    margin: 0.2rem;
    border-radius: 50px;
}
.agencies {
    border-radius: 1em;
    padding: 0.5em;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.agencies h3 {
    color: #0b07fa ;
    margin: 0.4em;
}
.last-job {
    text-decoration: line-through;
    text-decoration-color: #f86906;
}
.about {
    display: flex;
    justify-content: center;
    margin: 1rem;
    z-index: 1;
}
.about h3 {
    background-color: #f86906;
    padding: 0.5rem 1rem;
    height: fit-content;
    border-radius: 50px;
    color: #0b07fa;
}

.star {
   display: flex;
   justify-content: flex-end;
   position: relative;
   top: -300px;
}
#star {
    width: 9rem;
}

/* //////////////////////////////////////
///////////// PROJECTS ///////////// 
/////////////////////////////////////////*/

#project-1,
#project-2,
#project-3,
#project-4,
#project-5,
#project-6,
#project-7,
#project-8,
#project-9,
#project-10,
#project-11,
#project-12 {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#project-1 {
    /* background-color: #f86906; */
    background-image: url('../projects/VesteAsBrabas/capa.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
   
}
#project-2 {
    
    background-image: url('../projects/Dove/capa.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
#project-3 {
    background-image: url('../projects/PulaPra50/capa.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
#project-4 {
    background-image: url('../projects/Loccitane/capa.png');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
#project-5 {
    background-image: url('../projects/Airbnb/capa.png');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
#project-6 {
    background-image: url('../projects/IVOC/capa.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
#project-7 {
    background-image: url('../projects/Algoritmo/capa.png');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
#project-8 {
    background-image: url('../projects/AmandaMitz/capa.png');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
#project-9 {
    background-image: url('../projects/HorizonteCinza/capa.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
#project-10 {
    background-image: url('../projects/FestivalMinasGerais/capa.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
#project-11 {
    background-image: url('../projects/Artefato/capa.png');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


.project-title h2 {
    font-size: 3rem;
    background-color: #0b07fa;
    color: white;
    padding: 1rem;
    border-radius: 50px;
}

span.plus {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 3rem;
    background-color: #0b07fa;
    border-radius: 50%;
}



/* ///////////////////////////////
///////////// ABOUT ///////////// 
/////////////////////////////////*/

#about {
    display: flex;
    min-height: 90vh;
    flex-direction: column;
}
.about-container {
    display: flex;
    background-color: #0b07fa;
}
.star-top {
    position: relative;
    top: -1px;
    width: 18rem;
    transform: rotate(180deg);
}
.star-wrapper {
    height: 10rem;
    z-index: 3;
}
.star-wrapper svg {
    z-index: 1;
}
.wrap-container {
    min-height: 90vh;
}
/* .wrap-container {
    display: flex;
    flex-direction: column;
    max-height: 100vh;
} */

.about-container h1 {
    font-size: 7rem;
    margin: 1rem;
    color: #f86906;
    /* z-index: 2; */
}
.about-title {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    top: -9rem;
}
.about-container p {
    margin: 1rem;
    color: #f86906;
}
/* .profile-photo {
    position: relative;
    top: -7rem;
} */
img {
    width: 15rem;
    margin: 1rem;
}
.star-bottom svg {
    width: 26rem;
}

/* //////////////////////////////////////
///////////// FOOTER ///////////// 
/////////////////////////////////////////*/
#footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0b07fa;
    min-height: 10vh;
}
.footer-container {
    display: flex;
    justify-content: center;
    background-color: #0b07fa;
    margin: -1rem;
    width: 100%;
}
.footer-container svg {
    width: 2rem;
    height: 2rem;
    fill: #0b07fa;
}
.instagram,
.linkedin,
.email,
.telefone {
    height: 2rem;
    width: 2rem;
    padding: 0.7rem;
    margin: 0.5rem;
    border-radius: 100px;
    background-color: #ff4ca7;
}



/* //////////////////////////////////////
///////////// MEDIA QUERIES ///////////// 
/////////////////////////////////////////*/

@media screen and (min-width: 320px) {
    html{
        font-size: 14px;
    } 
}
@media screen and (max-width: 834px) {
    #project-3 {
        background-image: url('../projects/PulaPra50/redbackground.png');
    }
    #project-4 {
        background-image: url('../projects/Loccitane/vertical.JPG');
    }
    #project-6 {
        background-image: url('../projects/IVOC/vertical.png');
    }
    #project-7 {
        background-image: url('../projects/Algoritmo/vertical.png');
    }
    #project-8 {
        background-image: url('../projects/AmandaMitz/vertical.png');
    }
    #project-9 {
        background-image: url('../projects/Tarsila/vertical.png');
    }
    #project-10 {
        background-image: url('../projects/HorizonteCinza/vertical.png');
    }
    #project-11 {
        background-image: url('../projects/FestivalMinasGerais/vertical.png');
    }
    #project-12 {
        background-image: url('../projects/Artefato/vertical.png');
    }

}

@media screen and (min-width: 880px) {
    html {
        font-size: 20px;
    }
    .dots {
        display: none;
    }
}
@media screen and (min-width: 810px) and (min-height: 1100px)  {
    html {
        font-size: 26px;
    }
}
@media screen and (min-width: 1300px) {
    html {
        font-size: 20px;
    }
}





